view {
  display: block;
  overflow: hidden;
}

text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text {
}

.tab {
  background: #80bd01;
  padding: 2px 4px;
  border-radius: 3px;
  color: #fff;
}

.title {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}
